@media all and (min-width:320px) {
  body {
    background: black;
    font-family: "arsenal";
  }
  body img, body p,  body div {
  position: absolute;
  }
  .mainpage {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 5vw;
  border: 3px solid #FF005C;
  }
  nav > .mainpage {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav > .mainpage > a{
    color: white;
    text-decoration: none;
    font-size: 3vw;
  }
  .wing {
    height: 66vw;
      width: 100vw;
      left: -1vw;
      top: 9vw;
      position: absolute;
  }
  .cont {
    width: 55vw;
    font-size: 4vw;
    color: #00FFE0;
    top: 27.6vw;
    left: 20vw;
    opacity: 0;
}
.imp:hover p{
  animation: wing 5s ease-in-out;
}
  @keyframes wing {
    0%{
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
